#start-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, #f7ff08ef, #2ffe00e1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

#start-screen h1 {
    font-size: 50px;
    color: white;
    margin: 1px 0;
}
#start-screen h3 {
    font-size: 15px;
    color: white;
    margin: 10px ;
}
#start-button {
    padding: 12px 24px;
    font-size: 18px;
    cursor: pointer ;    
    background-color: #ffcc00;
    border: none;
    border-radius: 8px;
    transition: background-color 0.3s;
}

#start-button:hover {
    background-color: #f8e808;
}

#count-number {
    font-size: 100px;
    font-weight: bold;
    color: white;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


#game-area {
    
    display: flex;
    justify-content: center;
    align-items: center;
}

#game-logo {
    width: 200px;
    height: auto;
}

#score-display {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 30px;
    color: white;
    
    
}
